body {
  background-color: #f5f7fa;
  padding: 40px;
  font-family: "Lucida Sans", sans-serif;
}
.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
}

.bio,
.projects,
.jobs,
.education {
  margin-bottom: 60px;
}

.right-side {
  width: 830px;
  padding-left: 80px;
  padding-right: 200px;
  padding-bottom: 68px;
}

.bio-title {
  font-size: 45px;
  line-height: 2;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #2a2a2a;
}

.bio-occupation {
  margin-bottom: 20px;
  color: #828282;
}

.bio-occupation,
.bio-about {
  font-size: 14px;
  line-height: 1.714;
}

.bio-about {
  color: #595959;
}

.projects-title {
  margin-bottom: 10px;
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;
}

.projects-link {
  color: #2a2a2a;
  font-size: 14px;
  line-height: 24px;
}

.projects-link:hover {
  color: #83aada;
}

.learn-title {
	font-size : 22px;
	color : #424244;
	color : rgb(66, 66, 68);
} 
.learn-upper {
	font-size : 14px;
	color : #828282;
  font-style: italic;
} 
.learn-upper2 {
	font-size : 14px;
	color : #3d5572;
  font-style: italic;
} 
.learn-middle {
  font-size: 16px;
  color : #828282;
  font-style: normal;
}
.learn-text {
	font-size : 16px;
	color : #424244;
	color : rgb(66, 66, 68);
} 

.jobs-title,
.education-title,
.learning {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
}

.jobs-occupation,
.education-degree,
.learn-title
{
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.5;
}

.jobs-time,
.education-time,
.learn-middle {
  color: #828282;
  font-size: 12px;
  line-height: 2;
}

.experience-item {
  color: #595959;
  font-size: 14px;
  line-height: 1.714;
}

.accent {
  color: #83aada;
}

.accent2 {
  color: #83aada;
  font-size: 14px;
}
.box {
  position:absolute;
  width:1200px
  height: 170px;
  color:#83aada;
padding-top:50px;
opacity: 50%;


}
/* ========= left-side ========= */

.left-side {
  width: 370px;
  background-color: #d2d3d5;
  color: #fff;
}

.skills-title {
  font-size: 22px;
  line-height: 1.091;
}

.skills-item {
  font-size: 14px;
  line-height: 1.714;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-item::before {
  content: "\2022";
  margin-right: 8px;
  color: #fff;
  font-size: 18px;
}

.photo {
  width: 250px;
  padding-left: 20px;
}

.photo,
.contacts,
.skills,
.widget {
  margin-bottom: 60px;
}

.contacts,
.skills,
.widget {
  padding-left: 40px;
}

.contacts-title,
.skills-title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-list {
  list-style: none;
  padding-left: 0;
}

.contacts-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.contacts-link {
  opacity: 0.6;
  color: #4b4949;
  text-decoration: none;
}

.contacts-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.widget-link {
  color: #fff;
  background-color: #ff6b08;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 20px;
  padding-left: 43px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.widget {
  padding-left: 40px;
  min-height: 60px;
}
.widget-link {
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 20px;
  padding-left: 43px;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;

  color: #fff;
  background-color: #83aada;
  box-shadow: 0px 8px 43px 0px #3d5572(255, 107, 8, 0.588);
}

.widget-link:hover {
  box-shadow: 0px 8px 23px 0px #3d5572;
}

.widget-link:active {
  box-shadow: inset 0px 2px 5px 0px #3d5572;
}

.photo:hover {
  animation: swing 1s;
}

.widget:hover {
  animation: heartBeat 1s;
}
